/* .weekday-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
}
.weekday {
  border: 0.5px solid black;
  padding: 15px 0;
  border-radius: 10px;
  background-color: rgb(210, 202, 255);
} */

.weekday-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
}
.weekday {
  border: 0.5px solid #c5d5ea;
  padding: 10px;
  border-radius: 8px;
  background-color: #c5d5ea;
  color: rgb(90, 101, 115);
  margin: 0 0.5px;
}
