.weekday-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
}
.weekday {
  border: 0.5px solid black;
  padding: 15px 0;
  border-radius: 8px;
  background-color: rgb(210, 202, 255);
}
