/* wraps the header + days grid */
.calendar-grid-container {
  display: flex;
  flex-direction: column; /* header on top, days below */
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 0;
}

/* wraps ALL 42 DateCell components */
.day-cells-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns */
  grid-template-rows: repeat(6, 1fr);
  text-align: center;
  color: black;
  min-height: 0;
}
