.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 15px;
  background-color: blueviolet;
}
.nav-left {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.nav-right {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
}
.header-date {
  display: flex;
  gap: 20px;
  font-size: 30px;
  font-weight: 800;
}
.logo {
  clip-path: circle(50%);
  width: 55px;
}
