.date-cell {
  border: 0.5px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  text-align: right;
  font-size: 0.9rem;
  min-height: 0;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.date-cell--faded {
  color: pink;
}

.date-cell--today {
  border: 1px solid red;
  background-color: white;
}
.event-pill {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  border-radius: 5px;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.7);
  margin-bottom: 3px;
}
