.date-cell {
  border: 0.5px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  text-align: right;
  font-size: 0.9rem;
  /* background-color: #f9feff; */
  min-height: 0;
  color: black;
}

.date-cell--faded {
  color: pink;
}

.date-cell--today {
  border: 1px solid red;
  background-color: white;
}
