.date-cell {
  border: 0.5px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  text-align: right;
  font-size: 0.9rem;
  min-height: 0;
  color: #7392b7;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #e9f0f7;
}

.date-cell--faded {
  color: #759eb8;
  background-color: whitesmoke;
}

.date-cell--today {
  border: 1px solid #759eb8;
}
.date-cell--today:hover {
  background-color: #759eb8;
  color: white;
}
.event-pill {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  border-radius: 5px;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.7);
  margin-bottom: 3px;
}
