.app-layout {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  align-items: center;
  background-color: bisque;
}
